{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <img src="/uploads/amancilla.png" alt="Abraham Mancilla">
                <a href="https://apply.myloandepot.com/mortgage/welcome" target="_blank" class="primary-btn" style="margin: 20px auto">Apply Today</a>
            </div>
            <div class="column">
                <h1 class="title is-1">Abraham Mancilla</h1>
                <h4 class="subtitle is-4 is-uppercase mt-0"><a href="https://www.loandepot.com/loan-officers/amancilla?" target="_blank"></a>Loan Depot</h4>
                <h4 class="subtitle is-6 is-uppercase mb-0">Loan Consultant</h4>
                <h4 class="subtitle is-6 is-uppercase mt-0">NMLS #911467</h4>
                <p>
                    We take pride in providing our clients with exceptional service and competitive rates in a no pressure environment. We give each and every one of our clients our full attentiveness, to give you the best experience working with us. Buying or refinancing is an exciting, but often challenging undertaking. Let us show you what a difference Abraham Mancilla can make. Let us show you how, everyday and in many ways, we assist people just like you.
                </p>
                <ul class="lend-info">
                    <li><a href="mailto:562-841-0135">562-841-0135</a></li>
                    <li><a href="mailto:yousavewithabe@gmail.com">yousavewithabe@gmail.com</a></li>
                    <li><a href="https://www.loandepot.com/amancilla" target="_blank">Visit the Website</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}