{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns is-variable is-2">
            <div class="column has-text-centered">
                <img src="/uploads/frankchavezwallstrealty.jpg" alt="Frank Chavez">
            </div>
            <div class="column">
                <p>Realtor in California, Frank Chavez began his Real Estate career by working side by side with top agents with over 32 years + experience combined. With experience and wisdom gained, Frank Chavez has built a strong referral base as a result of his ability to generate extreme client satisfaction.</p>
                <p>His approach is simple: always keep the clients best interests in mind. His ability to draw upon experience, market knowledge technology has consistently led to shorter market times and higher sale prices for sellers.
                </p>
                <p>Frank loves to work with buyers and sellers and make their experience memorable for a lifetime. Real estate truly is his passion.

                </p>
                <p>Frank provides his clients with all the information necessary to help them make smart real estate investment decisions throughout the changing market cycles. Frank Chavez is an extremely ambitious realtor handling different aspects of the Real Estate industry. His vast knowledge of California and the surrounding suburb markets, enables him to successfully advise his clients in any type of real estate transaction. He is constantly working on obtaining new business while focusing on delivering over expected results to his current and past clients. Frank loves to go above and beyond for all his clients. Whether you’re looking for your dream home, rental property or a buyer for your home, he’ll give you a perfect match every time.

                </p>
                <p>I would love to help you find that “dream” home, so contact me today and give me the opportunity to EARN your business!

                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}