{{ $bio := .Site.Data.home.agent_bio }}
<div class="about-container">
<div class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                {{ if $bio.photo }}
                <img src="{{ $bio.photo }}" alt="Frank Chavez Realtor" class="about-home-image">
                {{ end }}
            </div>
            <div class="column">
                <div class="content-bio">
                    {{ if $bio.heading }}
                        <h1 class="title is-1 is-size-3-mobile has-text-black primary-title">{{ $bio.heading }}</h1>
                    {{ end }}
                    <div class="content">
                        {{ $bio.body_text | markdownify }}
                    </div>
                    {{ if $bio.link }}
                        <a href="{{ $bio.link }}" class="primary-btn">{{ $bio.link_text }}</a>
                    {{ end }}
                </div>
            </div>

        </div>
    </div>
</div>
</div>