<div class="background-image" style="background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/uploads/shutterstock_150649961.jpg) no-repeat center;background-size:cover">
    <div class="big-section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter has-text-centered has-text-white">
                    <h1 class="title is-3 has-text-white">READY TO BUY?</h1>
                    <p>Whether you’re a first time buyer or investor, we’ll work together to find your new home.</p>
                    <br>
                    <a href="/contact-us" class="primary-btn" style="margin: 0 auto">Get in Touch</a>
                </div>
            </div>
        </div>
    </div>
</div>