<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth has-text-centered">
                <h1 class="title is-4">A Real Estate Agent You Can Trust</h1>
                <p>Providing the most professional, informative, and dedicated service in the industry. We always place our clients interest first.</p>
            </div>
        </div>
    </div>
</div>
<div class="section mb-6">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <div class="box" style="border-top:5px solid #A01D10;">
                    <div class="content">
                        <i class="fas fa-user fa-2x"></i>
                        <h2 class="title is-4">Property Organizer</h2>
                        <p>Register or login to view saved searches and inquire about listings.</p>
                    </div>
                </div>
            </div>
            <div class="column has-text-centered">
                <div class="box" style="border-top:5px solid #A01D10;">
                    <div class="content">
                        <i class="fas fa-search fa-2x"></i>
                        <h2 class="title is-4">SEARCH HOMES</h2>
                        <p>Search the local MLS by using our advanced search options on the website.</p>
                    </div>
                </div>
            </div>
            <div class="column has-text-centered">
                <div class="box" style="border-top:5px solid #A01D10;">
                    <div class="content">
                        <i class="fas fa-sticky-note fa-2x"></i>
                        <h2 class="title is-4">HOME VALUE</h2>
                        <p> We will analyze the data you provide and get back to you with information.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>