<div class="listing-bg pt-6">
    <div class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column is-half is-offset-one-quarter content">
                    <h1 class="title is-3">Find the perfect home</h1>
                    <p>View all featured listings <a href="https://frankchavez.idxhome.com/listing/results/140329?bedrooms=0&dateRange=-1&searchTypeValue=basic&propertyType=SFR&maxListPrice=1%2C500%2C000&squareFeet=&cityId=1008&cityId=99&cityId=510&cityId=26&cityId=515&minListPrice=&bathCount=0">here</a></p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <!-- <script type="text/javascript" src="https://www.idxhome.com/site/listing/gallery/slider/{{ $.Site.Data.idx.ihomefinder_client_id }}?columns=3&rows=1&effect=fade&auto=false"></script> -->
                    <script type="text/javascript" src="https://frankchavez.idxhome.com/site/listing/gallery/slider/{{ $.Site.Data.idx.ihomefinder_client_id }}?columns=3&rows=1&effect=fade&hid=1667021"></script>

                </div>
            </div>
        </div>
    </div>
</div>
