
{{ partial "global/navbar.html" . }}

<div class="home-slide">
{{ range .Site.Data.design.home_slideshow.slideshow }}
<section class="hero lax" style="background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url({{ .image }});height:80vh;background-size:cover;background-position:center">
  <!-- Hero head: will stick at the top -->


  <!-- Hero content: will be in the middle -->
  <div class="hero-body slide-content">
    <div class="container has-text-centered is-fluid">
      <div class="columns">
        <div class="column has-text-white quicksearch is-three-fifths is-offset-one-fifth">
          <h1 class="title is-1 has-text-white is-size-3-mobile">{{ .heading }}</h1>
          <p class="mt-6">{{ .hero_body }}</p>
          <br>
          {{ if .link }}<a href="{{ .link }}" class="hero-button">{{ .link_text }}</a>{{ end }}
          <div class="search desktop-search">
            <script type="text/javascript" src="https://frankchavez.idxhome.com/site/listing/search/widget/{{ $.Site.Data.idx.ihomefinder_client_id }}?style=horizontal&showPropertyType=true"></script>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{{ end }}
</div>

<div class="section mobile-search">
  <div class="search">
    <script type="text/javascript" src="https://frankchavez.idxhome.com/site/listing/search/widget/{{ $.Site.Data.idx.ihomefinder_client_id }}?style=horizontal&showPropertyType=true"></script>
  </div>
</div>