<div class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">                   
                      <div class="content">
                        <p>"My husband and I couldn’t have worked with a better agent, John always informed us and kept us up to date. He was very helpful and patient through out the process of selling our home."</p>
                      </div>
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <img src="https://lh5.ggpht.com/-JrEv3ODw3dU/AAAAAAAAAAI/AAAAAAAAAAA/IldkWGzZ6io/s128-c0x00000000-cc-rp-mo/photo.jpg?sz=100" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-6">MAYRA GONZALEZ</p>
                          <p class="subtitle is-6">8/15/2019</p>
                        </div>
                      </div>

                    </div>
                  </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">                   
                      <div class="content">
                        <p>"Frank Chavez is the guy to go to. He provides nothing but great service . He is very knowledgeable and is willing to help . I appreciate his service . I would definitely recommend him to anyone who needs an agent."</p>
                      </div>
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <img src="https://lh3.ggpht.com/-jD_XbwboqXs/AAAAAAAAAAI/AAAAAAAAAAA/eQ8tfRffQlQ/s128-c0x00000000-cc-rp-mo/photo.jpg?sz=100" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-6">ESTAPHANY MICHEL</p>
                          <p class="subtitle is-6">1/17/2020</p>
                        </div>
                      </div>

                    </div>
                  </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">                   
                      <div class="content">
                        <p>"I have worked with John for over 10 years and this is the best Real Estate company I've ever been a part of. I highly recommended joining them!"</p>
                      </div>
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <img src="https://lh6.ggpht.com/--TMxoIqhjM8/AAAAAAAAAAI/AAAAAAAAAAA/w9LMj28p4Jo/s128-c0x00000000-cc-rp-mo/photo.jpg?sz=100" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-6">GOD ZOO</p>
                          <p class="subtitle is-6">9/19/2019</p>
                        </div>
                      </div>

                    </div>
                  </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">                   
                      <div class="content">
                        <p>"John is an extremely professional, diligent and patient real estate agent. We were very, very happy with his services and think that he handled a difficult transaction with a lot of skill. We highly recommend him."</p>
                      </div>
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <img src="https://lh3.ggpht.com/-kHTii3nc7Ag/AAAAAAAAAAI/AAAAAAAAAAA/PwyGFkPdlbE/s128-c0x00000000-cc-rp-mo/photo.jpg?sz=100" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-6">ELLEN PARKINS</p>
                          <p class="subtitle is-6">8/22/2019</p>
                        </div>
                      </div>

                    </div>
                  </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">                   
                      <div class="content">
                        <p>"Amazing and honest customer service. Frank was always attentive to all the details thorough the entire buying process. He was always available, and worked quickly to answer all my questions(which I had many of them).We felt he always put my husband and I first as a priority and kept us updated every step of the way. I will definitely be referring Frank Chavez, and John Pagani at Wallstreet Realty to my friends and family. They will take great care of you like family."</p>
                      </div>
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <img src="https://lh3.ggpht.com/-kHTii3nc7Ag/AAAAAAAAAAI/AAAAAAAAAAA/PwyGFkPdlbE/s128-c0x00000000-cc-rp-mo/photo.jpg?sz=100" alt="Placeholder image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-6">MARY JIMENEZ</p>
                          <p class="subtitle is-6">1/16/2020</p>
                        </div>
                      </div>

                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>